<% layout('layout') %>
<%- stylesheet('') %>


<div class="container mt-3">

  <h2 class="display-4 pb-2 mt-4 mb-2">Login</h2>

  <form action="/users/login" method="post">
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" name="email" required>
    </div>
    <div class="form-group">
      <label for="">password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-dark" value="Login">
    </div>
  </form>
</div>


<%- script('') %>