@charset "UTF-8";
body {
  font-family: '微軟正黑體'; }

ul, li {
  list-style: none; }

.quantity {
  width: 5vw; }

.fontBigger {
  font-size: 20px; }

@media only screen and (max-width: 550px) {
  .cartContent {
    min-width: 550px; }
  .quantity {
    width: 30px; } }

@media only screen and (max-width: 570px) {
  #checkout {
    margin-right: 5vw; } }
