@charset "UTF-8";
body {
  font-family: '微軟正黑體'; }

ul, li {
  list-style: none; }

.productTabs {
  width: 85vw;
  margin: auto; }
  .productTabs a {
    background: #DDD;
    color: #444; }
    .productTabs a:hover {
      color: black; }

.seperateBorder {
  height: 50px;
  width: 90vw;
  margin: auto; }

.itemPrice {
  font-size: 35px; }

.addtoCartBtn {
  margin-top: 50px;
  padding: 10px 25px;
  font-size: 20px; }
